DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://127.0.0.1:8099/api/v1/auth/oauth/discord/callback
OAUTH_FRONTEND_RETURN_URI=http://127.0.0.1:3000/auth
OAUTH_PROXY_HOST=
OAUTH_PROXY_PORT=0
